:root {
  --ros-color: #16253e;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.ros-background-color {
  background-color: var(--ros-color);
  color: white;
}

.title {
  font-size: 30px;
  flex-grow: 1;
}

.menu {
  list-style: none;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
}

.main-nav {
  /* github corner image is 80px heigh but the corner looks cut-off if the nav height is only 82px */
  height: 82px;
  display: flex;
}

.main-nav > * {
  margin-top: auto;
}

.main-nav li {
  margin-left: 20px;
  padding-bottom: 2px;
}

.main-nav li:hover {
  margin-bottom: -13px;
  border-bottom: 3px solid #fb9401;
}

.ros-background-color a {
  color: white;
  text-decoration: none;
}

.content-wrapper {
  width: 80vw;
  margin: auto;
}

.masthead {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 100;
}

.section-header {
  font-size: 24px;
  padding: 10px;
  padding-top: 20px;
  border-bottom: 1px solid #16253e;
}

.section-content {
}

.card {
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  max-width: 360px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: black;
}

a :hover {
  text-decoration: underline;
}

.card-image {
  display: inline-flex;
  border-radius: 12px;
  overflow: hidden;
  justify-content: center;
}

.card-image img {
  max-width: 100%;
}

.card-image-border {
  border: 1px solid #16253e;
}

.card-name {
  display: inline-block;
  font-size: 20px;
  padding-top: 6px;
  padding-bottom: 4px;
}

.card-description {
  display: inline-block;
  opacity: 0.7;
}

.footer {
  height: 100px;
}
